@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

audio {
    height: 30px;
    padding: 5px 0;
    margin: 5px 0;
    border: 1px solid #000;
    border-radius: 10px;
}

audio::-webkit-media-controls-play-button {
    display: flex;
}

audio::-webkit-media-controls-panel {
    background-color: #f3f3f3;
    border-radius: 10px;
}

/* audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-volume-slider-container */

.text-medium.custom-input-lg {
    font-size: 30px;
}
