@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

audio {
    height: 30px;
    padding: 5px 0;
    margin: 5px 0;
    border: 1px solid #000;
    border-radius: 10px;
}

audio::-webkit-media-controls-play-button {
    display: flex;
}

audio::-webkit-media-controls-panel {
    background-color: #f3f3f3;
    border-radius: 10px;
}

/* audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-volume-slider-container */


.text-medium {
    font-size: 20px;
}

.text-tiny {
    font-size: 18px;
    color: #d3d3d3;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 15px;
}

::-webkit-scrollbar-track {
    background-color: #f3f3f3;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #333;
}